%alert-base {
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 15px;
  font-family: Arial, sans-serif;
}

%alert-title {
  margin: 0 0 10px;
  font-size: 20px;
}

%alert-text {
  margin: 0;
  font-size: 16px;
}

